:root {
	--button-height: 20px;
	--font-size: calc(var(--gui-scale) * 7px * 1.346153846); /* 1.346153846 because real fonts are smaller */
	--text-shadow: calc(var(--gui-scale) * 1px) calc(var(--gui-scale) * 1px) #373737;
}

@property --gui-scale {
	syntax: "<number>";
	initial-value: 1;
	inherits: true;
}

#preview {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
	background-color: lightblue;
	white-space: pre;
	flex-wrap: wrap;
	font-size: var(--font-size);
	font-family: sans-serif;
	text-shadow: var(--text-shadow);
	user-select: none;

	&.error {
		background-color: #b03030;
	}
}

#preview-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px;
}

#preview-title {
	text-align: center;
}

#preview-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 auto;
	overflow: auto;
	padding: 10px;
	/* background-color: tomato; */
	border-block: 1px dashed gray;
	gap: calc(var(--gui-scale) * 10px);
}

#preview-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px;
	/* background-color: yellow; */
	gap: calc(var(--gui-scale) * 8px);
}

#preview button {
	background-color: #939393;
	border: calc(var(--gui-scale) * 1px) solid black;
	height: calc(var(--button-height) * var(--gui-scale));
	width:  calc(var(--width) * var(--gui-scale));
	font-size: var(--font-size);
	text-shadow: var(--text-shadow);

	&:hover, &:active, &:focus-visible {
		border-color: white;
		outline: none;
	}
}

#action-grid {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gui-scale) * 2px);
	justify-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.action-grid-row {
	display: flex;
	flex-direction: row;
	gap: calc(var(--gui-scale) * 2px);
	justify-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#inputs-container {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gui-scale) * 10px);
	justify-content: center;
	align-items: center;
}

.input-element {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: calc(var(--gui-scale) * 4px);
}

.input-element:has(> [type="text"]),
.input-element:has(> textarea) {
	flex-direction: column;
}

.input-label {
	justify-content: center;
}

.input-element > input,
.input-element > textarea,
.input-element > .input-checkbox {
	background-color: black;
	border: calc(var(--gui-scale) * 1px) solid #a0a0a0;
	border-radius: 0px;
	color: white;
	height: calc(var(--button-height) * var(--gui-scale));
	font-size: var(--font-size);

	&:active, &:focus, &:focus-visible {
		border-color: white;
		outline: none;
	}

	&:hover {
		outline: none;
	}
}

.input-element > input[type="text"],
.input-element > textarea {
	width: calc(var(--width) * var(--gui-scale));
	text-shadow: var(--text-shadow);
	padding: 4px 3px;
}

.input-element > .input-checkbox {
	width: calc(var(--button-height) * var(--gui-scale));
	display: flex;
    align-items: center;
    justify-content: center;
	font-size: calc(15px * var(--gui-scale));
	user-select: none;
}

.input-element > textarea {
	resize: none;
	height: calc(var(--height) * var(--gui-scale));
}

#preview:hover #tooltip-container:has(.visible) {
	display: block;
}

@property --cursor-x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --cursor-y {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

#tooltip-container {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	will-change: translate;
	translate: var(--cursor-x) var(--cursor-y);
	border: calc(0.9px * var(--gui-scale)) solid #000000e0;
	border-radius: calc(3px * var(--gui-scale));
	pointer-events: none;
}

#tooltip {
	position: static;
	background-color: #000000e0;
	padding: 3px;
	border: calc(1px * var(--gui-scale)) solid #26035df0;
	border-radius: calc(2px * var(--gui-scale));
}