@layer reset, base, theme;

@import url("./reset.css")   layer(reset);
@import url("./builder.css") layer(base);
@import url("./preview.css") layer(base);
@import url("./border.css")  layer(base);
@import url("./themes/default.css") layer(theme);
@import url("./themes/mcstacker.css") layer(theme);
@import url("./themes/mcstacker-nostalgia.css") layer(theme);

@layer base {
	body {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		height: 100vh;
	}
}