:root {
	color-scheme: light dark;
	--button-height: 30px;
}

#mc-dialog-builder {
	background-color: light-dark(#e0e0e2, #404044);
	color: light-dark(#141410, #e4e4e0);
	scrollbar-gutter: stable;
}

form,
.compound-input {
	display: flex;
	flex-direction: column;
}

form {
	padding: 25px;
	font-family: monospace;
	font-size: 16px;
	overflow: clip scroll;
	height: 100vh;
}

#mc-dialog-builder label {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.compound-input > .compound-input-generic-children,
.compound-input > .compound-input-specific-children,
.list-input > :not(summary, button),
.tuple-input > :not(summary) {
	padding-inline: calc(2em * 0.6); /* indent by 2, 0.6 to convert height to */
}

.compound-input > .compound-input-generic-children,
.compound-input > .compound-input-specific-children,
.list-input,
.tuple-input {
	display: flex;
	flex-direction: column;
}

summary {
	margin-left: calc(-1em * 0.66 - 1em * 0.4); /* marker width + marker margin right */
}

@-moz-document url-prefix() {
	summary {
		margin-left: calc(-1em * 0.88); /* marker width */
	}
}

body {
	margin: 0px;
	display: flex;
	flex-direction: row;
	overflow: hidden;

	> * {
		width: 50vw;
	}
}

* {
	box-sizing: border-box;
}

#preview {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
	background-color: aquamarine;
	white-space: pre;
	flex-wrap: wrap;
}

#preview-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
}

#preview-title {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

#preview-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 auto;
	overflow: auto;
	padding: 10px;
	background-color: tomato;
}

#preview-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
	background-color: yellow;
	gap: 10px;
}

#preview button {
	cursor: pointer;
	background-color: #939393;
	border: 2px solid black;
	height: var(--button-height);

	&:hover, &:active, &:focus-visible {
		border-color: white;
		outline: none;
	}
}

#action-grid {
	display: flex;
	flex-direction: column;
	gap: 3px;
	justify-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.action-grid-row {
	display: flex;
	flex-direction: row;
	gap: 3px;
	justify-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.input-element {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.input-element:has(> [type="text"]) {
	flex-direction: column;
}

.input-label {
	justify-content: center;
}

.input-element > input[type="text"] {
	background-color: black;
	border: 2px solid #a0a0a0;
	color: white;
	height: var(--button-height);

	&:hover, &:active, &:focus-within {
		border-color: white;
		outline: none;
	}
}

.input-element > input[type="checkbox"] {
	background-color: black;
	border: 2px solid #a0a0a0;
	border-radius: 0px;
	color: white;
	width: var(--button-height);
	height: var(--button-height);

	&:hover, &:active, &:focus-visible {
		border-color: white;
		outline: none;
	}
}